// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Used for styling link elements in the navigation */
.white {
  color: white;
}

.white:hover {
  color: white;
}

.pleft-15 {
  padding-left: 15px;
}